<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- SPLASH (İlk açılan ekran) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- YASAL METİN -->
        <activity
            android:name=".DisclaimerActivity"
            android:exported="false"/>

        <!-- ANA EKRAN -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- DESEN AYARLAMA -->
        <activity
            android:name=".PatternSetupActivity"
            android:exported="false"/>

        <!-- DESEN ALANI AYARLAMA -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"/>

        <!-- SİYAH EKRAN (Kiosk) -->
        <activity
            android:name=".BlackScreenActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:noHistory="false"
            android:finishOnTaskLaunch="false"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme"/>

        <!-- ADMİN ALICI -->
        <receiver
            android:name=".AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
